homelogs.stage.kumpe.app {
  import ssl_defaults
  import stage_env

  handle /api* {
    reverse_proxy {{nebula.ip}}:8000 {
      header_up Host {host}
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-For {remote_host}
    }
  }

  handle {
    reverse_proxy {{nebula.ip}}:8080
  }
}
